@charset "UTF-8";
.ヘッダー {
    font-size: 150%;
    text-align: center;
    line-height: 2.5em;
    font-weight:800;
}


.タイトル{
    font-size:120%;
    color:blue;
    line-height:2.0em;
    text-align: center;
}

.貝{
    font-size:70%;
    text-align: center;
}
.パン {
    font-size: 70%;
    text-align: center;
}
.エビ {
    font-size: 70%;
    text-align: center;
}

//マウスが乗っているとき
.貝:hover {
    font-size: 160%;
    text-align: center;
}

.パン:hover {
    font-size: 160%;
    text-align: center;
}

.エビ:hover {
    font-size: 160%;
    text-align: center;
}

//背景 
{
    background-image: url(https://www.rbbtoday.com/imgs/p/RqJIzsl7cmxG8-cARbeaqilNLEDQQ0JFREdG/510534.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
