@charset "UTF-8";


//背景..........
body{
    background-image: url(https://www.rbbtoday.com/imgs/p/RqJIzsl7cmxG8-cARbeaqilNLEDQQ0JFREdG/510534.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.ヘッダー {
    font-size: 150%;
    text-align: center;
    line-height: 2.5em;
    font-weight:800;
}


.タイトル{
    font-size:120%;
    color:blue;
    line-height:2.0em;
    text-align:left;
}

.カイ{
    font-size:70%;
    text-align:left;
}
.パン {
    font-size: 70%;
    text-align:left;
}
.エビ {
    font-size: 70%;
    text-align:left;
}

//マウスが乗っているとき
.カイ:hover {
    font-size: 160%;
    text-align:left;
}
.パン:hover {
    font-size: 160%;
    text-align:left;
}
.エビ:hover {
    font-size: 160%;
    text-align:left;
}


.フッダー{
    text-align: center;
}

